body{
    background: url(background.jpg) no-repeat;
    background-size: auto%;
}
.codehim-form{
    max-width: 400px;
    min-height: 400px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 4px 2px 16px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    margin:  20px auto 0 auto;
    padding: 25px;
    color: blue
        
}
.cm-input{
    display: block;
    box-sizing: border-box;
    padding: 10px;
    width: 100%; 
    margin: 14px auto;
    border-radius: 20px;
    border: 1px solid #ccc;
  }
.h2{
text-align:center;
}
#dob{
text-emphasis:bold;
}