body{
    background-color: #EAF6F6;
}
hr{
    border-style: none;
    width: 5%;
    border-style:none;
    border-top: dotted;
    border-color: #8080ff;
    border-width: 5px;

}
h3{
    color: #66BFBF;

}
h1{
    color: #804000;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.circular{
    border-radius: 100%;
}
img:hover{
    background-color: #669d34;
}

/* Style the navigation bar */
.navbar {
width: 100%;
background-color: #2c2c2c;
overflow: auto;

}

/* Navbar links */
.navbar a {
float: left;
text-align: center;
padding: 12px;
color: white;
text-decoration: none;
font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
background-color: #ffff00;
}

/* Current/active navbar link */
.active {
background-color: #00ff80;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
.navbar a {
float: none;
display: block;
}
}

/* Style inputs with type="text", select elements and textareas */
input[type=text],input[type=password],input[type=number],input[type=email], select, textarea {
width: 100%; /* Full width */
padding: 12px; /* Some padding */ 
border: 1px solid #ccc; /* Gray border */
border-radius: 4px; /* Rounded borders */
box-sizing: border-box; /* Make sure that padding and width stays in place */
margin-top: 6px; /* Add a top margin */
margin-bottom: 16px; /* Bottom margin */
resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit], . {
background-color: #04AA6D;
color: white;
padding: 12px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
border-radius: 5px;
background-color: #f2f2f2;
padding: 20px;
}

.s-class{
text-align:center;
}
.ol{
font-size:20px;
padding:10px;
line-height:2;
font-family:tahoma;
margin-left:2px;
font-weight:bold;
}
h4{
font-family: comic sans MS;
font-size:20px
}
.footer{
text-align: center;
padding: 3px;
background-color: darksalmon;
color:white;
}